.header{
    
    width: 100%;
    
    
}
.container1{
    background-image: url(../sfondo.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 100px;
   
}
.container1-text h1{
    font: {
        size:60px;
    family: 'Jua', sans-serif;
}
}