nav{
    background-color: $main-color;
    height: 100px;
    li{
        &:hover{
            cursor: pointer;
        
            a{
                font-size: 18px;
                font-weight: bold;
                
            }
        }
    }
  
  }
  .icons svg{
    margin-left: 20px;
    &:hover{
        cursor: pointer;
        width: 20px;
        height: 25px;
    }
  }